{% extends "main.html" %}
{% block content %}
<div>
	<h1 style="color:dodgerblue; text-align: center; font-size: 45px">Создание объявления</h1>
</div>

<main class="d-flex justify-content-center py-5">
	<form action="" method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<div class="form-group">
            <label for="photo">Добавьте картинку</label>
            <input type="file" class="form-control-file" id="photo" name="photo">
        </div>

		<br>
		<div class="form-floating">
			{{ form.type(class="form-control") }}
			{{ form.type.label }}
			{% for error in form.type.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</div>

		<br>
		<div class="form-floating">
			{{ form.name(class="form-control") }}
			{{ form.name.label }}
			{% for error in form.name.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</div>

		<br>
		<div class="form-floating">
			{{ form.props(class="form-control", style="height: 1000px;") }}
			{{ form.props.label }}
			{% for error in form.props.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</div>

		<br>
        {{ form.submit(type="submit", class="btn btn-primary w-100 py-2") }}
		<div style="color: red;">{{ msg }}</div>
	</form>
</main>
{% endblock %}