{% extends "main.html" %}
{% block content %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Lost Watermelon - сервис для поиска потерянных вещей</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <span class="material-symbols-rounded logo">hub</span>
        <h3 class="fs-2 text-body-emphasis">Автоматизация</h3>
        <p>Обработка объявлений происходит автоматически. Вам не придется просматривать большие списки в поисках нужной вам вещи.</p>
      </div>
      <div class="feature col">
        <span class="material-symbols-rounded logo">enhanced_encryption</span>
        <h3 class="fs-2 text-body-emphasis">Безопасность</h3>
        <p>Мы не показываем ваши объявления случайным пользователям. Злоумышленники не смогут выдать себя владельцами.</p>
      </div>
      <div class="feature col">
        <span class="material-symbols-rounded logo">lists</span>
        <h3 class="fs-2 text-body-emphasis">Простота</h3>
        <p>Добавьте свойства в объявление - всё остальное сделаем мы!</p>
      </div>
    </div>
  </div>


<h1 class="pb-2 border-bottom" style="text-align: center;">Успешно найденные вещи</h1>
<main class="d-flex justify-content-center">
<div class="ads">
    {% for item in lst %}
        <div class="card"></div>
<!--    	<div style="background-color: {{ colors[item.id % 9] }}">-->
            <table class="card rounded-3 shadow-sm" align="center" border="3" bgcolor="DimGray" cellspacing="0">
                <thead>
                <tbody>
                        <td rowspan="2">
                            {% if os.path.exists('static/item_images/' + item.id|string + '.png') %}
                                <tr><img src="{{'static/item_images/' + item.id|string + '.png'}}" width="400px" height="400px" class="cropped"></tr>
                            {% else %}
                                <tr><img src="static/img/noimage.svg" width="400px" height="400px" class="invert-color"></tr>
                            {% endif %}
                        </td>
                        <th width="250px">Вещь: {{ item.name }}<br>
                            Хозяин: {{ item.get_owner().name }}
                        </th>

                <tr>
                    <th height="60px">ID={{ item.id }}</th>
                </tr>
                </tbody>
                </thead>
            </table>
<!--    	</div>-->
        <div class="dropdown-divider"></div><br>
	{% endfor %}
</div>
</main>
{% endblock %}