{% extends "main.html" %}
{% block content %}
<h1 style="text-align: center;">Успешно найденные вещи<span class="material-symbols-outlined">sentiment_excited</span></h1>

<div class="ads">
	{% for item in lst %}
	<div class="dropdown-divider"></div>
	<div style="background-color: {{ colors[item.id % 9] }}">
	  <table align="center" border="3" bgcolor="DimGray" cellspacing="0">
		<thead></thead>
		<tbody>
		  <tr>
			<td rowspan="2"><img src="static/img/noimage.png" width="400px" height="400px"></td>
			  <th width="250px">Вещь: {{ item.name }}<br>
			  	Хозяин: {{ item.get_owner().name }}
			  </th>
		  </tr>
		  <tr>
			<th height="60px">ID={{ item.id }}</th>
		  </tr>
		</tbody>
	  </table>
	</div>
	<div class="dropdown-divider"></div>
	{% endfor %}
</div>
{% endblock %}