{% extends "main.html" %}
{% block content %}

<h2 style="text-align: center">Мои объявления</h2>
% ads from BD %
<div class="ads">
	<div class="dropdown-divider"></div>
	<div style="background-color: aquamarine;">
	  <table align="center" border="3" bgcolor="gray" cellspacing="0">
		<thead></thead>
		<tbody>
		  <tr>
			<td rowspan="2"><img src="static/img/vilka.png" width="400px" height="400px"></td>
			<th width="250px">_Вилка_</th>
		  </tr>
		  <tr>
			<td height="60px">ID=10</td>
		  </tr>
		</tbody>
	  </table>
	</div>
	<div class="dropdown-divider"></div>
</div>
{% endblock %}