{% extends "main.html" %}

{% block ads %}
<!-- COPY THIS -->
<div class="ads">
	<div class="dropdown-divider"></div>
	<div style="background-color: aquamarine;">
	  <table align="center" border="3" bgcolor="gray" cellspacing="0">
		<thead></thead>
		<tbody>
		  <tr>
			<td rowspan="2"><img src="../img/comp.png" width="400px" height="400px"></td>
			<th width="250px">_Древнейший_</th>
		  </tr>
		  <tr>
			<td height="60px">ID=8</td>
		  </tr>
		</tbody>
	  </table>
	</div>
	<div class="dropdown-divider"></div>
	<div style="background-color: yellowgreen;">
	  <table align="center" border="3" bgcolor="gray" cellspacing="0">
		<thead>
		</thead>
		<tbody>
		  <tr>
			<td rowspan="2"><img src="../img/vilka.png" width="400px" height="400px"></td>
			<th width="250px">_Вилка_</th>
		  </tr>
		  <tr>
			<td height="60px">ID=9</td>
		  </tr>
		</tbody>
	  </table>
	</div>
	<div class="dropdown-divider"></div>
	<div style="background-color:coral ;">
	  <table align="center" border="3" bgcolor="gray" cellspacing="0">
		<thead>
		</thead>
		<tbody>
		  <tr>
			<td rowspan="2"><img src="../img/globus.png" width="400px" height="400px"></td>
			<th width="250px">_Глобус_</th>
		  </tr>
		  <tr>
			<td height="60px">ID=10</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>

{% endblock %}