{% extends "main.html" %}
{% block content %}
<div>
	<h1 style="color:dodgerblue; text-align: center; font-size: 45px">Регистрация</h1>
</div>
<main class="d-flex justify-content-center py-5">
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.name.label }}
			{{ form.name(class="form-control") }}
			{% for error in form.name.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</p>

        <p>
			{{ form.email.label }}
			{{ form.email(class="form-control", type="email") }}
			{% for error in form.email.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}
			{{ form.password(class="form-control", type="password") }}
			{% for error in form.password.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</p>
		<p>
			{{ form.password_again.label }}
			{{ form.password_again(class="form-control", type="password") }}
			{% for error in form.password_again.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</p>
        <p>
			{{ form.tg.label }}
			{{ form.tg(class="form-control") }}
			{% for error in form.name.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</p>
        <button class="btn btn-primary w-100 py-2" type="submit">{{ form.submit(type="submit", class="btn btn-primary") }}</button>
		<div style="color: red;">{{ msg }}</div>

	</form>
</main>
{% endblock %}






